@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap");



.navbar{
    border-radius: 0%;
    position: fixed !important;
    width: 100%;
    z-index: 100;
    display: flex;
    font-family: 'Balsamiq Sans', cursive;
    background-color: black !important;
}



.navbar.scrolled{
   background-color: black!important;
   transition:500ms ease;
   color: red;
}


.projects-grid{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
} 
.category-tab{
    padding-top: 80px;
}

.contact-body{
    display: flex;
    justify-content: center;
    flex-direction: row;  
}

@media screen and (max-width: 640px) {
    .projects-grid{
        flex-direction: column;
        margin-bottom: 10%;
    }
}

.btn{
    width: 200px;
    height: 50px;
    border: rgb(197, 255, 164);
    background-color:inherit;
    border-width: 1px;
    border-style: solid;
    color: white;
    text-align: center;
    padding-top: 10px; 
    font-family: cursive;
    
}

.btn:hover{
    background-color:gray;
    color: white;
    text-decoration: honeydew;
}


.profile-pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 500px;
    background-image: url(https://i.imgur.com/uuYptZI.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    margin-bottom: 20px;
}


.quality{
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
.quality img{
    height: 100px;
    width: 100px;
    color: black;
    padding-bottom: 0px;
}

.quality figure{
    font-family: Balsamiq Sans;
    font-weight: bold;
    font-size: 20px;
   
}

@media all and (max-width: 640px) {
    .quality {
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
   
}


.footer{
    display:flex ;
    justify-content: space-evenly;
    font-size: 30px;
}


.resume{
    padding-top: 10%;
}


/* contact page*/

.contact-body{
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
}
.contact-grid{
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color: black;
    margin-bottom: 20px;

}
.contact-grid h2 {
    font-family: 'Anton', sans-serif;
}

.contact-grid p {
    padding-top: 2em;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.contact-grid hr {
    border-top: 5px dotted black;
    width: 100%;
    margin: auto;
}
.contact-list i{
    font-size: 40px;
    padding-right: 2rem;
}

/* resume page*/
.resume-right-col{
    background: #27221F;
    color: white;
    padding: 2em;
    
}

/* /contact page/ */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.contact-parent{
    display:flex;
    margin:80px 0;
}

.contact-child{
    display:flex;
    flex:1;
    box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
}

.child1{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://i.imgur.com/BcrB3KO.jpg");
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    color:#fff;
    padding:100px 0;
}

.child1 p{
    padding-left:20%;
    font-size:20px;
    text-shadow:0px 0px 2px #000;
}

.child1 p span{
    font-size:16px;
    color:#fff;
}

.child2{
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.inside-contact{
    width:90%;
    margin:0 auto;
}

.inside-contact h2{
    text-transform:uppercase;
    text-align:center;
    margin-top:50px;
}

.inside-contact h3{
    text-align:center;
    font-size:16px;
    color:#0085e2;
}

.inside-contact input, .inside-contact textarea{
    width:100%;
    background-color:#eee;
    border:1px solid rgba(0,0,0,0.48);
    padding:5px 10px;
    margin-bottom:20px;
}

.inside-contact input[type=submit]{
    background-color:#000;
    color:#fff;
    transition:0.2s;
    border:2px solid #000;
    margin:30px 0;
}

.inside-contact input[type=submit]:hover{
    background-color:#fff;
    color:#000;
    transition:0.2s;
}


@media screen and (max-width:991px){
    .contact-parent{
        display:block;
        width:100%;
    }

    .child1{
        display:none;
    }

    .child2{
        background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
        background-size:cover;
    }

    .inside-contact input, .inside-contact textarea{
        background-color:#fff;
    }
}

/* ANIMATIONS */




